<container>
	<row class="footer">
		<columns>
			<div class="container">
				<row class="footer-img">
					<columns>
						<center>
							<img src="https://i.imgur.com/67ofzv5.png" alt="" />
						</center>
					</columns>
				</row>
				<row class="footer-site-link">
					<columns>
						<span class="text-center"
							>Visit us online:
							<a href="#">www.CongressionalFCU.org</a>
						</span>
					</columns>
				</row>
				<row class="footer-social collapse">
					<columns small="3" large="3"></columns>
					<columns small="6" large="4">
						<row>
							<columns small="3">
								<a href="#"
									><img
										class="text-center"
										src="https://i.imgur.com/FlH2V0P.jpeg"
										alt=""
								/></a>
							</columns>

							<columns small="3">
								<a href="#"
									><img
										class="text-center"
										src="https://i.imgur.com/5uy5Mlb.jpeg"
										alt=""
								/></a>
							</columns>

							<columns small="3">
								<a href="#"
									><img
										class="text-center"
										src="https://i.imgur.com/fzENiSD.jpeg"
										alt=""
								/></a>
							</columns>

							<columns small="3">
								<a href="#"
									><img
										class="text-center"
										src="https://i.imgur.com/okm0APb.jpeg"
										alt=""
								/></a>
							</columns>
						</row>
					</columns>
					<columns small="3" large="3"></columns>
				</row>
				<row class="footer-bottom">
					<div class="footer-bottom-box">
						<columns>
							<row>
								<columns class="sent-to">
									<span class="text-center"
										>This email was sent to
										<a href="#">dedrick15@gmail.com</a> by Congressional
										Federal.</span
									>
								</columns>
							</row>
							<row class="address">
								<columns>
									<span class="text-center"
										>P.O. Box 23267, Washington, D.C. 20026-3267</span
									>
								</columns>
							</row>
							<row class="">
								<columns large="2" class="show-for-large"></columns>
								<columns small="12" large="8">
									<row class="privacy-email">
										<columns valign="middle">
											<span class="text-center">
												<a href="#">Privacy Policy </a>

												&nbsp; | &nbsp;

												<a href="#">Update Email Preferences</a>
											</span>
										</columns>
									</row>
								</columns>
								<columns class="show-for-large" large="2"></columns>
							</row>
						</columns>
					</div>
				</row>
			</div>
		</columns>
	</row>
</container>
