<container>
	<row class="header">
		<columns>
			<span>
				If you are having trouble viewing this email,
				<a href="#">open in a browser.</a>
			</span>
		</columns>
	</row>
	<row class="header-img">
		<columns small="12" large="12">
			<center>
				<a href="#">
					<img src="https://i.imgur.com/fodifzQ.png" alt="" />
				</a>
			</center>
		</columns>
	</row>
	<div class="container" style="padding: 20px 20px 20px 20px">
		<row class="header-info">
			<columns>
				<p class="text-style">
					As the year draws to a close, we are grateful for your continued
					membership and trust during trying economic times. We take great pride
					in innovating products and improving services throughout the year to
					make it easier for you to manage finances and achieve your goals.
					Likewise, we choose our leadership with this mission in mind. In that
					spirit, the board chose Cory Montez Hairston earlier this fall as the
					credit union's new President and Chief Executive Officer. As longtime
					VP of Internal Audit and our interim CEO during the past year, Mr.
					Hairston epitomizes our guiding principle of careful financial
					stewardship.
				</p>
				<p class="text-style">
					Congressional Federal is entering a new era of service to the Capitol
					Hill community under Mr. Hairston's leadership. We received approval
					from the NCUA to expand our charter in the underserved Southeast
					Washington D.C. area this year. Always committed to being a positive
					force in the community we serve, we are currently working with local
					partners to choose a future site for a new branch.
				</p>
				<p class="text-style">
					Wherever you are, thank you as always for helping to make our greater
					Congressional Federal community special. We wish you peace, health,
					joy, and prosperity for the holidays and look forward to serving you
					in the New Year.
				</p>
			</columns>
		</row>
		<row
			><columns
				style="
					max-width: 600px;
					min-width: 300px;
					border-bottom: 1px solid #004976;
					margin: 0;
					padding: 0 0 0 0;
				"></columns>
		</row>
	</div>
</container>
